:root{
    --general: #F4B066;
    --accident: #7344F4;
    --additional: #DAE0F2;
    --fogra: #071013;
    --alice: #EDF5FC;
    --edged: #2a2620;
    --gold: #d3b994;
    --gold-gradient: linear-gradient(90deg, #d3b994 50%, #8d7353)
}