
.text-gold-gradient{
    background: var(--gold-gradient);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -o-background-clip: text;
    -moz-text-fill-color: transparent;    
    -webkit-text-fill-color: transparent;    
    -o-text-fill-color: transparent;    
}