@import '/src/css/colors.css';

@media (max-width: 1100px){
    .roadmap-vector{
        width: 32vw;
    }
}
@media (max-width: 768px){
    html{
        font-size: 56%;
    }
    /* Header */
    header.og-landing-header{
        width: unset;
        padding: 32px 16px;
        align-items: center;
    }
    header.og-landing-header .logo-container{
        order: 1;
    }
    header.og-landing-header .become{
        order: 2;
    }
    header.og-landing-header .discord{
        order: 3;
        margin-right: 8px;
    }
    header.og-landing-header .faq{
        display: none;
    }
   
    header.og-landing-header .toggler{
        display: block;
        order: 4;
        margin: 0;
    }
    header.og-landing-header .links{
        position: fixed;
        height: 100%;
        top: 0;
        width: 50vw;
        left: -50vw;
        transition: 0.3s;
        background-color: var(--additional);
        height: 100vh;
        z-index: 1000;
        justify-content: flex-start;
        padding: 16px;
    }
    header.og-landing-header .links a{
        color: var(--fogra);
        font-size: 1.4rem;
    }
    header.og-landing-header .links a.faq{
        display: block;
    }
    header.og-landing-header .links.open{
        left: 0;
    }

    /* Landing */
    .og-landing{
        background-position: 86%;
        padding: 16px;
    }
    .og-landing .socials{
        padding: 16px;
        flex-direction: row;
    }
    .og-landing .equalizer{
        padding: 16px;
    }

    /* EARLY */
    .og-early-cycle{
        background-position: 35%;
    }
    .cycle-title{
        margin-top: unset;
        margin-bottom: 32px;
    }

    /* Luxion */
    .med-chars-container {
        flex-direction: row;
    }
    .character-med-container:first-of-type {
        margin-bottom: 0;
    }
    .og-roadmap {
        background-size: contain;
    }
    .roadmap-vector{
        display: none;
    }
    .og-joinus{
        background-size: cover;
    }
    .og-joinus .row{
        padding: 32px 0;
    }
    .og-faq .head a{display: none;}
    .og-faq .head h1{text-align: left;}
}

@media (max-width: 576px){
    .og-luxion .lux-med > div{
        display: flex;
        justify-content: space-evenly;
        margin: 32px 0 ;
        padding-bottom: 16px ;
    }
    .og-luxion .lux-big {
        margin-bottom: 64px;
    }
    .character-big-container{
        width: 85%;
        margin: 0 auto  ;
    }
    .og-roadmap-sections .row > div{
        margin-bottom: 32px;
    }
    .joinus-content{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}