:root{
    --general: #F4B066;
    --accident: #7344F4;
    --additional: #DAE0F2;
    --fogra: #071013;
    --alice: #EDF5FC;
}

@font-face {
    font-family: zendots;
    src: url(../fonts/zenDots/ZenDots-Regular.ttf);
}

/* Custom global styles (BS extend) */

.og-text-zen{
    font-family: zendots;
}


/* Landing */
.og-landing{
    height: 100vh;
    width: 100%;
    background-image: url(../img/landing-main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}
.og-landing .og-overlay--dark{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0005;
    z-index: 1;
}


